{
    "parser": "babel-eslint",
    "ecmaFeatures": {
        "blockBindings": true,
        "forOf": true,
        "jsx": true,
        "arrowFunctions": true,
        "defaultParameters": true,
        "objectLiteralComputedProperties": true,
        "objectLiteralDuplicateProperties": true,
        "objectLiteralShorthandMethods": true,
        "objectLiteralShorthandProperties": true,
        "generators": true,
        "classes": true,
        "destructuring": true,
        "defaultParams": true,
        "spread": true,
        "modules": true
    },
    "globals": {
        "describe": true,
        "it": true,
        "expect": true,
        "xit": true,
        "xdescribe": true,
        "beforeEach": true,
        "before": true,
        "after": true,
        "afterEach": true
    },
    "env": {
        "es6": true,
        "browser":true,
        "node":true
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "strict": 0,
        "eol-last": 0,
        "quotes": 0,
        "camelcase":0,
        "no-octal-escape": 0,
        "no-use-before-define":0,
        "no-undef":2,
        "consistent-return":0,
        "new-parens":0,
        "no-unused-vars":[0,{"vars": "all", "args": "none"}],
        "no-unused-expressions": 0,
        "no-alert":0,
        "no-empty":1,
        "no-shadow":0,
        "no-trailing-spaces": 0,
        "comma-spacing":0,
        "no-multi-spaces":0,
        "key-spacing":0,
        "space-infix-ops":0,
        "dot-notation":0,
        "new-cap":0,
        "no-process-exit":0,
        "no-trailing-spaces": 0,
        "no-underscore-dangle":0,
        "no-debugger": 0,
        "semi": [0, "never"],
        "react/display-name": 2,
        "react/jsx-quotes": 2,
        "react/jsx-no-undef": 2,
        "react/jsx-uses-vars": 2,
        "react/no-did-mount-set-state": 2,
        "react/no-did-update-set-state": 2,
        "react/no-multi-comp": 2,
        "react/prop-types": 2,
        "react/react-in-jsx-scope": 2,
        "react/self-closing-comp": 2,
        "react/wrap-multilines": 2
    }
}
